<% layout('layout') %>

<div class="container mt-5">
    <div class="card p-4">
        <h1><%= title %></h1>
        <hr>
        <p>Ini adalah <strong>Ulasan <%= reviewId %></strong> untuk <strong>Produk <%= productId %></strong>.</p>

        <a href="/" class="btn btn-secondary mt-3">Kembali ke Produk</a>
    </div>
</div>
